In [1]:
# How to read an excel data using python

import pandas as pd 

data_frame=pd.read_excel("test.xlsx")

In [2]:
data_frame

  Student   subject  Marks
0  sameer      AIML     12
1    sumit  datasci     10
2   praksh  english     13
3     sima    Hindi     15
4     Rima      PPL     17

In [3]:
data_frame.describe()

           Marks
count   5.000000
mean   13.400000
std     2.701851
min    10.000000
25%    12.000000
50%    13.000000
75%    15.000000
max    17.000000

In [5]:
data_frame.shape

(5, 3)

In [6]:
data_frame.size

15

In [14]:
# add a number to the list

li=[5,4,6,7,8,9,44]

In [15]:
for i in range(7):
    li[i]=li[i]+5

In [16]:
li

[10, 9, 11, 12, 13, 14, 49]

In [20]:
# how to reverse an array

arr=[15,16,17,18,19,20]
arr[::-1]

[20, 19, 18, 17, 16, 15]