# **BootCamp 2024**

## **Day 1**

### Assignment 1

In [1]:
#Draw the Star pattern (3)
n = 7  
for i in range(n):
    print(' ' * (n - i - 1) + '*' * (2 * i + 1))

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [18]:
#Draw the Star pattern (6)
for i in range(n-2, -1, -1):
    print(' ' * (n - i - 1) + '*' * (2 * i + 1))

 ***********
  *********
   *******
    *****
     ***
      *

In [1]:
#Draw the Star pattern (2)
n = 7
for i in range(1, n):
    print(' ' * (n - i), end='')
    for j in range(1, i+1):
        print(j, end=' ')
    print()

      1
     1 2
    1 2 3
   1 2 3 4
  1 2 3 4 5
 1 2 3 4 5 6

In [2]:
#Draw the Star pattern (1)
n = 7
for i in range(1, n):
    print(' ' * (n - i), end='')
    for j in range(i):
        print(i, end=' ')
    print()

      1
     2 2
    3 3 3
   4 4 4 4
  5 5 5 5 5
 6 6 6 6 6 6

In [27]:
#Draw the Star pattern (7)
n =7
for i in range(n, -1, -1):
    print(' ' * (n - i), end='')
    for j in range(i):
        print(i, end=' ')
    print()

7 7 7 7 7 7 7
 6 6 6 6 6 6
  5 5 5 5 5
   4 4 4 4
    3 3 3
     2 2
      1

In [24]:
n=7
for i in range(n):
    print(' ' * (n - i - 1),end='')
    for j in range(1,i):
        print(j)

               1
   1
2
  1
2
3
 1
2
3
4
1
2
3
4
5

## **Day 2**

In [3]:
class Employee:
    def __init__(self,name,empid,salary):
        self.name=name
        self.empid=empid
        self.salary=salary
    def print(self):
        print(f"Employ name is: {self.name} \n Employee Id: {self.empid} \n Employee salary: {self.salary}")

emp1=Employee("sameer",2347454,150000)
emp1.print()

Employ name is: sameer
 Employee Id: 2347454
 Employee salary: 150000

## **Assignment 2**

In [4]:
#Question 1
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print(f'Name: {self.name} \n Age: {self.age}')

person1=Person("sameer Shrinath",19)
person1.show()

Name: sameer Shrinath
 Age: 19

In [8]:
#Question 2
class Circle:
    def __init__(self):
        self.__radius=0

    #setter
    def set_radius(self,radius):
        self.__radius=radius

    #getter
    def get_radius(self):
        print(f'Radius is {self.__radius}')
    
    def getArea(self):
        area=3.17*(self.__radius*self.__radius)
        return area
    def getCircum(self):
        circum=2*3.17*self.__radius
        return circum

c=Circle()
c.set_radius(5)
c.get_radius()
c.getArea()
c.getCircum()

Radius is 5

31.7

In [9]:
#Question 3
class Rectangle:
    def __init__(self):
        self.__length=0
        self.__breadth=0
    def setDimension(self,length,breadth):
        self.__length=length
        self.__breadth=breadth
    def getDimension(self):
        print(f'DIMENSION is {self.__length} X {self.__breadth}')
    def getArea(self):
        print(f'Area is {self.__length*self.__breadth}')

rec=Rectangle()
rec.setDimension(5,10)
rec.getDimension()
rec.getArea()

DIMENSION is 5 X 10
Area is 50

In [10]:
#Question 4
class Book:
    def __init__(self, title,bookid,price):
        self.title=title
        self.bookid=bookid
        self.price=price
    def show(self):
        print(f'Title: {self.title} \n Bookid: {self.bookid} \n Price: {self.price}')

book=Book("Killer",2345,5500)
book.show()

Title: Killer
 Bookid: 2345
 Price: 5500

In [7]:
#Question 5
class Team:
    def __init__(self):
        self.team=[]
    def insert_Player(self,name):
        self.team.append(name)
    def show_player(self):
        for i in self.team:
            print(i)

team=Team()
team.insert_Player("sameer Shrinath")
team.insert_Player("sumit tak")
team.insert_Player("sumit praksh")
team.show_player()

sameer Shrinath
sumit tak
sumit praksh