## **count specific text from the paragraph**

In [11]:
import re
def count_personal_pronouns(text):
    """Count personal pronouns in text."""
    pronouns = re.findall(r'\b(I|we|my|ours|us)\b', text, re.I)
    return len(pronouns)
data="hello everyone I am your friend and we are the same as family. ours home is here"
count_personal_pronouns(data)

3

## extract every word from the paragraph into the list

In [15]:
import nltk
def clean_text(text):
    """Clean and tokenize text by removing stopwords and punctuation."""
    tokens = nltk.word_tokenize(text)
    tokens = [word.lower() for word in tokens if word.isalpha()]
    return tokens
words=clean_text(data)
words

['hello',
 'everyone',
 'i',
 'am',
 'your',
 'friend',
 'and',
 'we',
 'are',
 'the',
 'same',
 'as',
 'family',
 'ours',
 'home',
 'is',
 'here']

## extract every sentence into the list

In [16]:
import nltk


sentences = nltk.sent_tokenize(data)
sentences

['hello everyone I am your friend and we are the same as family.',
 'ours home is here']

In [18]:
import pandas as pd
output_df = pd.DataFrame(columns=['URL_ID', 'Positive_Score', 'Negative_Score', 'Polarity_Score', 'Subjectivity_Score',
                                  'Avg_Sentence_Length', 'Percentage_Complex_Words', 'Fog_Index', 'Complex_Word_Count',
                                  'Word_Count', 'Syllable_Per_Word', 'Personal_Pronouns', 'Avg_Word_Length'])

In [19]:
output_df

Empty DataFrame
Columns: [URL_ID, Positive_Score, Negative_Score, Polarity_Score, Subjectivity_Score, Avg_Sentence_Length, Percentage_Complex_Words, Fog_Index, Complex_Word_Count, Word_Count, Syllable_Per_Word, Personal_Pronouns, Avg_Word_Length]
Index: []

#  using NLTK with python to tokenize for the NLP

In [6]:
data1="The goal of this project is to build an Expert Advisor (EA) Robot that automates trading by using predictions generated from a machine learning (ML) model. The EA will operate in real-time, leveraging both historical and live data to make buy/sell decisions. Data can be obtained via two primary methods: Additionally, the EA Robot will use an MQL5 script that defines the trading strategy, enabling automated trading on any MetaTrader 5 (MT5) platform. The core focus is to train an ML model for predictive trading, integrate data streams, and implement a scalable MQL5 strategy for execution. 4. Backtesting and Performance Evaluation "

In [14]:
import nltk
def tokenize_word(sen):
    token1=nltk.word_tokenize(sen)
    teken=[word for word in token1 if word.isalpha()]
    return teken

In [16]:
words=tokenize_word(data1)

In [39]:
# FInding specific data types in the list
words2=["same","happy","sgvu","car","1234","555.6","456","2347454"]
strwords=[i for i in words2 if i.isalpha()]
intwords=[i for i in words2 if i.isnumeric()]

In [40]:
strwords

['same', 'happy', 'sgvu', 'car']

In [41]:
intwords

['1234', '456', '2347454']

In [47]:
#tokenize the sentence in pandas 
import nltk

word="I am sameer shrinath. I am studing in the SGVU. hlo how are you. what is your name"

In [48]:
def tokenizesen(sen):
    token=nltk.sent_tokenize(sen)
    return token

In [49]:
tokenizesen(word)

['I am sameer shrinath.',
 'I am studing in the SGVU.',
 'hlo how are you.',
 'what is your name']

In [86]:
#counting the words in the sentence in python 
import re
word="I am sameer shrinath. I am studing in the SGVU. hlo how are you. what is your name I am student. We are heros"


def findalpha(sen):
    token=re.findall(r'\b(I|We|You|He|She|your)\b',sen)
    return len(token)

In [87]:
findalpha(word)

5

In [97]:
#making the data frame using pandas

import pandas as pd

df=pd.DataFrame(columns=["name","class","roll no"])

In [102]:
df

     name class roll no
0  sameer   NaN     NaN
1   sumit   NaN     NaN

In [104]:
df["name"]=["sameer","sumit"]

In [105]:
df

     name class roll no
0  sameer   NaN     NaN
1   sumit   NaN     NaN