In [6]:
dp = [[0] * (n + 1) for _ in range(m + 1)]

NameError: name 'm' is not defined

In [12]:
l=['sam','eer']
for i in l:
    print(i)

sam
eer

In [35]:
for j in l:
    print(j,end='')

sameer

In [28]:
a='sameer shrianth'
def listm(data):
    pro=[]
    for i in data:
        if i==' ':
            pass
        else:
            pro.append(i)
    return pro

In [29]:
listm(a)

['s', 'a', 'm', 'e', 'e', 'r', 's', 'h', 'r', 'i', 'a', 'n', 't', 'h']

In [36]:
class Solution:
    def findMinCost(self, x, y, costX, costY):
        m, n = len(x), len(y)
        
        # Initialize dp table
        dp = [[0] * (n + 1) for _ in range(m + 1)]
        
        # Base cases
        for i in range(1, m + 1):
            dp[i][0] = i * costX
        for j in range(1, n + 1):
            dp[0][j] = j * costY
        
        # Fill the dp table
        for i in range(1, m + 1):
            for j in range(1, n + 1):
                if x[i-1] == y[j-1]:
                    dp[i][j] = dp[i-1][j-1]
                else:
                    dp[i][j] = min(dp[i-1][j] + costX,  # Delete from x
                                   dp[i][j-1] + costY)  # Delete from y
        
        return dp[m][n]

In [39]:
li=[1,2,3,4,5,7,8,9]
for i in range(0,100):
    print(i*'*')

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************
**************************
***************************
****************************
*****************************
******************************
*******************************
********************************
*********************************
**********************************
***********************************
************************************
*************************************
**************************************
***************************************
****************************************
*****************************************
******************************************
*******************************************
********************************************
*********************************************
**********************************************
***********************************************
************************************************
*************************************************
**************************************************
***************************************************
****************************************************
*****************************************************
******************************************************
*******************************************************
********************************************************
*********************************************************
**********************************************************
***********************************************************
************************************************************
*************************************************************
**************************************************************
***************************************************************
****************************************************************
*****************************************************************
******************************************************************
*******************************************************************
********************************************************************
*********************************************************************
**********************************************************************
***********************************************************************
************************************************************************
*************************************************************************
**************************************************************************
***************************************************************************
****************************************************************************
*****************************************************************************
******************************************************************************
*******************************************************************************
********************************************************************************
*********************************************************************************
**********************************************************************************
***********************************************************************************
************************************************************************************
*************************************************************************************
**************************************************************************************
***************************************************************************************
****************************************************************************************
*****************************************************************************************
******************************************************************************************
*******************************************************************************************
********************************************************************************************
*********************************************************************************************
**********************************************************************************************
***********************************************************************************************
************************************************************************************************
*************************************************************************************************
**************************************************************************************************
***************************************************************************************************

In [40]:
sam,hera=0,1

In [41]:
sam

0

In [42]:
hera

1

In [4]:
class Person:
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def printname(self):
        print(f'The user name is {self.fname} {self.lname}')

In [5]:
a=Person('sameer',"shrinath")

In [6]:
a.printname()

The user name is sameer shrinath

In [7]:
b=Person('sonal','kumari')

In [8]:
b.printname()

The user name is sonal kumari

In [9]:
class Student(Person):
    pass

In [10]:
C=Student('shivani','kumari')

In [11]:
C.printname()

The user name is shivani kumari

In [23]:
def sorting(arr):
    n=len(arr)
    for i in range(n):
        for j in range(0,n-i-1):
            if arr[j]>arr[j+1]:
                arr[j],arr[j+1]=arr[j+1],arr[j]
    return arr

In [24]:
import numpy as np

In [25]:
li=[45,22,12,85,36,15,12]
myarray=np.array(li)

In [26]:
myarray

array([45, 22, 12, 85, 36, 15, 12])

In [27]:
sorting(li)

[12, 12, 15, 22, 36, 45, 85]

In [9]:
# difference Between list and Tuple 

list1=[45,69,58,65,42,'sam','ram']
tuple1=(45,69,58,65,42,'sam','ram')


list1[1]=12

In [40]:
#add letters of string in the list
#part 2

def convert_into_list(name):
    temp=[]
    for i in name:
        if i==' ':
            pass
        else:
            temp.append(i)
    return temp

In [41]:
list1=convert_into_list("sameer shrinath")

In [42]:
list1

['s', 'a', 'm', 'e', 'e', 'r', 's', 'h', 'r', 'i', 'n', 'a', 't', 'h']

In [20]:
#converting the list into string

def convert_into_string(li):
    temp=''
    for i in li:
        temp+=i
    return temp

In [21]:
list2=['s', 'a', 'm', 'e', 'e', 'r', ' ', 's', 'h', 'r', 'i', 'n', 'a', 't', 'h']

In [22]:
convert_into_string(list2)

'sameer shrinath'

In [35]:
#convert a string into tuple
def conver_into_tuple(st):
    temp=[]
    for i in st:
        temp.append(i)
    return tuple(temp)

In [38]:
new=conver_into_tuple('sameer')
type(new)

tuple

In [39]:
new

('s', 'a', 'm', 'e', 'e', 'r')

In [43]:
#Use of for loop 
for i in range(1,5):
    print("hello")

hello
hello
hello
hello

In [44]:
#in list
li=[4,5,6,7,8,9,10,11,12,13]

for i in li:
    print(i)

4
5
6
7
8
9
10
11
12
13

In [46]:
#in string
st='sameer shrinath'
for _ in st:
    print(_)

s
a
m
e
e
r

s
h
r
i
n
a
t
h

In [48]:
#in range 
#Print Number from 1 to 50
# start  to n-1
for i in range(1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [51]:
#What is concatination in Python
fname='sameer'
lname=' shrinath'

fullname=fname+lname #concatination

In [52]:
fullname

'sameer shrinath'

In [53]:
5+10 # addition

15

In [55]:
"5"+"10" #concatinated

'510'

In [ ]:
# different type of operators in python
that can be used to perform mathematical operations

In [62]:
#addition (+)

100+5

105

In [63]:
#substraction(-)
100-5

95

In [64]:
#multiplication(*)
100*5

500

In [66]:
#division(/)
10/3

3.3333333333333335

In [68]:
#floor division(//)
10//3

3

In [72]:
#power(**)
5**9

1953125

In [73]:
#Modulus (%)
10%3

1